!!! 5
html
  head
    title
      if title && project.name
        #{title} | #{project.name}
      else if project.name
        #{project.name}
      else if title
        #{title}
    meta(charset='utf-8')
    if (resources.docs && resources.docs.css)
      style !{resources.docs.css}
    if (resources.previews && resources.previews.js)
      script(type="text/preview") !{resources.previews.js}
    if (resources.previews && resources.previews.css)
      style(type="text/preview") !{resources.previews.css}
  body
    section.container
      #background
      each section, i in sections
        article.section(id="#{section.slug}")
          .docs
            a.permalink(href="##{section.slug}")
              &#182;
            !{section.docs}
          if section.code
            .code
              pre: code !{section.code}
    if (resources.docs && resources.docs.js)
      script !{resources.docs.js}
<!-- Generated with StyleDocco (http://jacobrask.github.com/styledocco). -->
